<%- include("./includes/header.ejs") %>
<%- include("./includes/navbar.ejs") %>

<div>
    <form action="/api/v1/create" method="post" class="w-50 mx-auto mt-5 p-3" style="box-shadow: 0 0 2px 4px whitesmoke;">
        <h1>Create Student</h1>
        <div class="mb-3">
          <label for="name" class="form-label">Student Name</label>
          <input type="text" class="form-control" id="name" name="name" >
        </div>
        <div class="mb-3">
            <label for="age">Age</label>
          <input type="number" class="form-control" id="age" name="age" >
        </div>
        <div class="mb-3">
            <label for="fname">Father's Name</label>
          <input type="text" class="form-control" id="fname" name="fname" >
        </div>
        <div class="mb-3">
            <label for="mname">Mother's Name</label>
          <input type="text" class="form-control" id="mname" name="mname" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>