<%- include("./includes/header.ejs") %>
<%- include("./includes/navbar.ejs") %>

   <div>
    <h1>Signup Page</h1>
    <form action="/api/v1/signup" method="post">
        <input type="text" placeholder="enter user name" name="username">
        <input type="email" placeholder="enter user email" name="email">
        <input type="password" placeholder="enter user pass" name="password">
        <button type="submit">sign up</button>
    </form>
   </div>


 <%- include("./includes/footer.ejs") %>
